* {
    box-sizing: border-box;
} 

html {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans JP','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	height: 100vh;
    /* color: rgb(65, 62, 62); */
    
}
canvas{
    position: fixed;
    /* width: 100%;
    height: 100vh !important; */
}
body {
    margin: 0;
	/* background-image: url('img/background.jpg'); */
	/*background-size: cover;*/
    /*background-position: center;*/
    background-color: rgb(92, 44, 10);
	/* min-height: 100%; */
}
#page{
    margin: 1em;
}
#wrapper {
    background-color: rgb(255, 255, 255);
    max-width: 98%;
    margin: 1em;
}
.homedisplay{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#logo{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    padding-right: 2em;
    /* background-color:rgb(240, 130, 57); */
}
#logo img{
    width: 4em;
    
}
#titlelogo{
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 900;
    color: black;
}
#top{
    background-color: rgb(207, 107, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    padding: 0.2em 0.2em;
    box-shadow: 0px 1px 3px rgb(75, 75, 75);
    
}
#topnav{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    font-size: 1.2em;
    font-weight: bold;
}
#topnav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}
#gestion{
    width: 10%;
}
#gestion span{
    color: white;
    font-weight: 800;
    font-size: 2em;
    border: white solid 2px;
    padding: 0px 0.2em;
    box-shadow: white 2px 0px 2px;
}
#midnav{
    background-color: rgb(226, 226, 226);
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#midnavlinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
}
#view{
    font-size: 1.5em;
}
#midnav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

h2 {
    /* max-width: 900px; */
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    color: #000000;
    padding-top: 1em;
    text-transform: uppercase;

}
th{
    border: solid black 1px;
    border-top: solid black 4px;
    border-bottom: solid black 4px;
    text-transform: uppercase;
    background-color: rgb(214, 214, 214);
}

td{
    border: black solid 1px;
    background-color: rgb(240, 239, 239);
}
td a{
    text-decoration: none;
    color: rgb(207, 107, 40);
    font-weight: bold;
    }

.linkbutton{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 0.5em 0.5em;
    border: none;
    box-shadow: none;
    font-size: 1em;
    box-shadow: 0px 1px 2px rgb(75, 75, 75);

}
.cancel{
    background-color:  rgba(0, 0, 0, 0.479);
    padding: 0.4em 0.3em;
}
.proceed{
    background-color:  rgb(207, 107, 40);
}
.fields{
    display: flex;
    flex-direction: column;
    width: 30%;
}